<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Akva webáruház</title>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/7512e4ab1d.js" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <script type="text/javascript" th:src="@{/js/delete_search_by_string.js}"></script>
    <!--<script type="text/javascript" th:src="@{/js/searchscript.js}"></script>-->
    <script type="text/javascript" th:src="@{/js/search_by_string.js}"></script>
    <script type="text/javascript" th:src="@{/js/remember_me.js}"></script>
    <link rel="stylesheet" th:href="@{/css/modal.css}">
    <link rel="stylesheet" th:href="@{/css/search.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="login.css">
    <script type="text/javascript" th:src="@{/js/welcome.js}"></script>
</head>
<body>
<div id="page-container">
    <div id="content-wrap">
<!-- HEADER -->
<div th:replace="fragments/headernav :: header"></div>
<!-- /HEADER -->

<!-- NAV -->
<div th:replace="fragments/headernav :: nav"></div>
<!-- /NAV -->
<div align="center">
<h1>Bejelentkezés</h1>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <form name="login" th:action="@{/login}" method="post">
                <div th:if="${param.error}" class="alert alert-danger">Hibás felhasználó név és jelszó</div>
                <div th:if="${param.logout}" class="alert alert-sucess">
                    Sikeresen kijelentkeztél
                </div>
                <input type="text" id="username" class="fadeIn second" name="username" placeholder="E-mail cím" required>
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="Jelszó">
                <div class="checkbox">
                    <input type="checkbox" value="lsRememberMe" id="rememberMe"> <label for="rememberMe">Emlékezz rám</label>
                </div>
                <button class="btn btn-lg btn-primary btn-black" type="submit" onclick="setWelcome(); lsRememberMe()">Bejelentkezés</button>
            </form>
            <a href="/registration">Regisztrálni szeretnék</a>
        </div>
    </div>
</div>
</div>
<!-- FOOTER -->
<div th:replace="fragments/footer :: footer"></div>
<!-- /FOOTER -->
<script type="text/javascript" th:src="@{/js/menutoggle.js}"></script>
</div>
</body>
</html>