<footer id="contact" th:fragment="footer">
    <ul>
        <div id="footer-icon-container">
            <a href="#">
                <div id="footer-icon">
                    <li><i class="fab fa-twitter"></i></li>
                </div>
            </a>
            <a href="#">
                <div id="footer-icon">
                    <li><i class="fab fa-instagram"></i></li>
                </div>
            </a>
            <a href="#">
                <div id="footer-icon">
                    <li><i class="fab fa-facebook-f"></i></li>
                </div>
            </a>
            <a href="#">
                <div id="footer-icon">
                    <li><i class="far fa-envelope"></i></li>
                </div>
            </a>
        </div>
    </ul>
    <p>&copy 2021-2021, Webshop projekt</p>
</footer>