<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Értékelések</title>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/7512e4ab1d.js" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <script type="text/javascript" th:src="@{/js/delete_search_by_string.js}"></script>
    <!--<script type="text/javascript" th:src="@{/js/searchscript.js}"></script>-->
    <script type="text/javascript" th:src="@{/js/search_by_string.js}"></script>
    <script type="text/javascript" th:src="@{/js/welcome.js}"></script>
    <link rel="stylesheet" th:href="@{/css/modal.css}">
    <link rel="stylesheet" th:href="@{/css/search.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div id="page-container">
    <div id="content-wrap">
<!-- HEADER -->
<div th:replace="fragments/headernav :: header"></div>
<!-- /HEADER -->

<!-- NAV -->
<div th:replace="fragments/headernav :: nav"></div>
<!-- /NAV -->
<div align="center">
    <h1>Értékelések</h1>
    <br>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <!--                    <td scope="col">ID</td>-->
            <td scope="col">ID</td>
            <td scope="col">Felhasznalo_id</td>
            <td scope="col">Termek ID</td>
            <td scope="col">Értékelés</td>
            <td scope="col">Megjegyzés</td>
            <td scope="col">Dátum</td>
            <td scope="col" colspan="2">Módosítás</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="rate : ${ratinglist}" scope="row">
            <!--                    <td th:text="${prod.id}">id</td>-->
            <!--            <td th:text="${ord.id}">Name</td>-->
            <td th:text="${rate.id}">id</td>
            <td th:text="${rate.user_id}">user_id</td>
            <td th:text="${rate.termek_id}">termek_id</td>
            <td th:text="${rate.rating}">rating</td>
            <td th:text="${rate.description}">description</td>
            <td th:text="${rate.date}">date</td>
            <td><a th:if="${session.username != null and session.user_type == 'admin'}" th:href="@{/edit/ratings/{id}(id=${rate.id})}">Update</a></td>
            <td>
                <a th:if="${session.username != null and session.user_type == 'admin'}" th:href="@{'/delete/ratings/'+${rate.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
    </div>
    <!-- FOOTER -->
    <div th:replace="fragments/footer :: footer"></div>
    <!-- /FOOTER -->
<script type="text/javascript" th:src="@{/js/menutoggle.js}"></script>
</div>
</body>

</html>