<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Regisztráció</title>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/7512e4ab1d.js" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <script type="text/javascript" th:src="@{/js/delete_search_by_string.js}"></script>
    <!--<script type="text/javascript" th:src="@{/js/searchscript.js}"></script>-->
    <script type="text/javascript" th:src="@{/js/search_by_string.js}"></script>
    <script type="text/javascript" th:src="@{/js/welcome.js}"></script>
    <link rel="stylesheet" th:href="@{/css/modal.css}">
    <link rel="stylesheet" th:href="@{/css/search.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div id="page-container">
    <div id="content-wrap">
<!-- HEADER -->
<div th:replace="fragments/headernav :: header"></div>
<!-- /HEADER -->

<!-- NAV -->
<div th:replace="fragments/headernav :: nav"></div>
<!-- /NAV -->
<div align="center">
    <form name="registration" th:action="@{/reg}" th:object="${user}" method="post" class="form-horizontal">
            <fieldset>
                <div id="legend">
                    <legend class="">Regisztráció</legend>
                </div>
                <div class="control-group">
                    <!-- Username -->
                    <label class="control-label" for="username">Felhasználó név</label>
                    <div class="controls">
                        <input type="text" id="username" name="username" placeholder="" class="input-xlarge" th:field="*{name}" required>
                        <p class="help-block">A felhasználónév bármilyen betűt vagy számot tartalmazhat, szóközök nélkül</p>
                    </div>
                </div>

                <div class="control-group">
                    <!-- E-mail -->
                    <label class="control-label" for="email">E-mail</label>
                    <div class="controls">
                        <input type="email" id="email" name="email" placeholder="" class="input-xlarge" th:field="*{email}" required>
                        <p class="help-block">Kérjük, adja meg e-mail címét</p>
                    </div>
                </div>

<!--                <div class="control-group">-->
<!--                    <label class="control-label" for="user_type">Felhasználó tipus</label>-->
<!--                    <div class="controls">-->
<!--                        <input type="text" id="user_type" name="user_type" placeholder="" class="input-xlarge" th:field="*{user_type}" required>-->

<!--                    </div>-->
<!--                </div>-->

                <div class="control-group">
                    <!-- Password-->
                    <label class="control-label" for="password">Jelszó</label>
                    <div class="controls">
                        <input type="password" id="password" name="password" placeholder="" min="4" class="input-xlarge" th:field="*{password}" required>
                        <p class="help-block">A jelszónak legalább 4 karakterből kell állnia</p>
                    </div>
                </div>

                <div class="control-group">
                    <!-- Password -->
                    <label class="control-label" for="password_confirm">Jelszó (Megerősítés)</label>
                    <div class="controls">
                        <input type="password" id="password_confirm" name="password_confirm" placeholder=""
                               class="input-xlarge" required>
                        <p class="help-block">Kérjük, erősítse meg a jelszót</p>
                    </div>
                </div>

                <div class="control-group">
                    <label for="iranyitoszam">Irányítószám</label>
                    <div class="controls">
                        <input type="number" id="iranyitoszam" class="input-xlarge" th:field="*{iranyito}" required>

                    </div>
                </div>

                <div class="control-group">
                    <label for="city">Város</label>
                    <div class="controls">
                        <input type="text" id="city" class="input-xlarge" th:field="*{city}" required>

                    </div>
                </div>

                <div class="control-group">
                    <label for="address">Utca, Házszám stb.</label>
                    <div class="controls">
                        <input type="text" id="address" class="input-xlarge" th:field="*{address}" required>

                    </div>
                </div>
                <br><br>
                <div class="control-group">
                    <!-- Button -->
                    <div class="controls">
                        <button class="btn btn-success" type="submit">Regisztráció</button>
                    </div>
                </div>
            </fieldset>
    </form>
</div>
    </div>
        <!-- FOOTER -->
        <div th:replace="fragments/footer :: footer"></div>
        <!-- /FOOTER -->
<script type="text/javascript" th:src="@{/js/menutoggle.js}"></script>
</div>
</body>
</html>

<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <link rel="stylesheet" href="css/register.css">-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
<!--    <title>Document</title>-->
<!--</head>-->
<!--<body>-->
<!--    <div class="row justify-content-center">-->
<!--        <div class="col col-md-5 text-center">-->
<!--            <form method="post" th:action="@{/register}" th:object="${userDTO}">-->
<!--                <h1 class="display-4">Sign Up</h1>-->

<!--                <div class="form-row py-1">-->
<!--                    <label>Email</label>-->
<!--                    <input type="text" class="form-control" name="email" th:value="*{email}" th:errorClass="is-invalid">-->
<!--                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="invalid-feedback"></div>-->
<!--                </div>-->

<!--                <div class="form-row py-1">-->
<!--                    <label>Password</label>-->
<!--                    <input type="password" class="form-control" name="password" th:value="*{password}" th:errorClass="is-invalid">-->
<!--                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="invalid-feedback"></div>-->
<!--                </div>-->

<!--                <div class="form-row py-1">-->
<!--                    <label>Re-enter password</label>-->
<!--                    <input type="password" class="form-control" name="rpassword" th:value="*{rpassword}" th:errorClass="is-invalid">-->
<!--                    <div th:if="${#fields.hasErrors('rpassword')}" th:errors="*{rpassword}" class="invalid-feedback"></div>-->
<!--                </div>-->

<!--                <div class="form-row py-1">-->
<!--                    <label>First Name</label>-->
<!--                    <input type="text" class="form-control" name="firstname" th:value="*{firstname}" th:errorClass="is-invalid">-->
<!--                    <div th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}" class="invalid-feedback"></div>-->
<!--                </div>-->

<!--                <div class="form-row py-1">-->
<!--                    <label>Last name</label>-->
<!--                    <input type="text" class="form-control" name="lastname" th:value="*{lastname}" th:errorClass="is-invalid">-->
<!--                    <div th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" class="invalid-feedback"></div>-->
<!--                </div>-->

<!--                <div class="form-row py-1">-->
<!--                    <button type="submit" class="btn btn-info btn-block">-->
<!--                        Create your account-->
<!--                    </button>-->
<!--                </div>-->

<!--            </form>-->
<!--            <p class="py-2"> Already have an acoount? <a href="/login">Sign-in</a></p>-->
<!--        </div>-->
<!--    </div>-->
<!--</body>-->
<!--</html>-->