<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Felhasználók</title>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/7512e4ab1d.js" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <script type="text/javascript" th:src="@{/js/delete_search_by_string.js}"></script>
    <!--<script type="text/javascript" th:src="@{/js/searchscript.js}"></script>-->
    <script type="text/javascript" th:src="@{/js/search_by_string.js}"></script>
    <script type="text/javascript" th:src="@{/js/welcome.js}"></script>
    <link rel="stylesheet" th:href="@{/css/modal.css}">
    <link rel="stylesheet" th:href="@{/css/search.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div id="page-container">
    <div id="content-wrap">
<!-- HEADER -->
<div th:replace="fragments/headernav :: header"></div>
<!-- /HEADER -->

<!-- NAV -->
<div th:replace="fragments/headernav :: nav"></div>
<!-- /NAV -->
<div align="center">
    <h1>Felhasználók</h1>
    <br>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <!--                    <td scope="col">ID</td>-->
            <td scope="col">Felhasználó neve</td>
            <td scope="col">Email</td>
            <td scope="col">Felh_tipus</td>
            <td scope="col">Jelszó</td>
            <td scope="col">Irányítószám</td>
            <td scope="col">Város</td>
            <td scope="col">Utca, Házszám, (ajtó, csengő)</td>
            <td scope="col" colspan="2">Módosítás</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="usr : ${userslist}" scope="row">
            <!--                    <td th:text="${prod.id}">id</td>-->
            <td th:text="${usr.name}">Name</td>
            <td th:text="${usr.email}">Email</td>
            <td th:text="${usr.user_type}">User_type</td>
            <td th:text="${usr.password}">Password</td>
            <td th:text="${usr.iranyito}">Iranyito</td>
            <td th:text="${usr.city}">City</td>
            <td th:text="${usr.address}">Address</td>
            <td><a th:href="@{/edit/users/{id}(id=${usr.id})}">Update</a></td>
            <td>
                <a th:href="@{'/delete/users/'+${usr.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
    </div>
    <!-- FOOTER -->
    <div th:replace="fragments/footer :: footer"></div>
    <!-- /FOOTER -->
<script type="text/javascript" th:src="@{/js/menutoggle.js}"></script>
</div>
</body>
</html>